#news-rotator{position:relative;z-index:1;height:242px;overflow:hidden;}
#news-rotator .image{float:left;top:6px;left:0;position:relative;width:380px;height:230px;z-index:1;overflow:hidden;}
#news-rotator .image div{position:absolute;overflow:hidden;left:0;height:11px;width:11px;}
#news-rotator .i1,
#news-rotator .i2,
#news-rotator .c1,
#news-rotator .c2,
#news-rotator .c3,
#news-rotator .c4{background-image:url(../images/news-scroller-images.png);}
#news-rotator .i1{top:0;background-position:0 0;}
#news-rotator .i2{bottom:0;background-position:0 -11px;}
#news-rotator .story{position:relative;z-index:2;margin-left:380px;width:289px;height:242px;/* image width + 12px */
border-left:1px solid #ccc;background:#F0F2F3;}
#news-rotator .story .padding{padding:10px 15px 20px;}
#news-rotator .corner{overflow:hidden;position:absolute;width:11px;height:11px;}
#news-rotator .c1{top:0;right:0;background-position:0 -44px;}
#news-rotator .c2{bottom:0;right:0;background-position:0 -55px;}
#news-rotator .c3{margin-left:-11px;top:0;left:0;background-position:0 -22px;}
#news-rotator .c4{margin-left:-11px;bottom:0;left:0;background-position:0 -33px;}
#news-rotator .controls{position:absolute;bottom:7px;right:10px;z-index:5;}
#news-rotator .controls img{height:15px;width:15px;background-image:url(../images/news-scroller-controls.png);cursor:pointer;margin-right:3px;}
#news-rotator .control-prev{background-position:0 0;}
#news-rotator .control-next{background-position:0 -17px;}
#news-rotator .control-stop{background-position:0 -34px;}
#news-rotator .control-play{background-position:0 -51px;}
