/* @group Core Elements */

@font-face {
	font-family: Vrinda;
	font-style:  normal;
	font-weight: normal;
	src: url('/VRINDA1.eot');
}

@font-face {
	font-family: Vrinda;
	font-style:  normal;
	font-weight: normal;
	src: url('vrinda.ttf') format('opentype');
}

#bangla {
	font-family: Vrinda;
}

html {
	height: 100%;
	margin-bottom: 1px;
}

body,td {
	line-height: 135%;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

body.f-smaller {
	font-size: 10px;
}

body,
body.f-default {
	font-size: 12px;
}

body.f-larger {
	font-size: 14px;
}

p {
  /* setup some more readable paragraph spacing */
  margin-top: 10px;
  margin-bottom: 15px;
}

h1, h2, h3, h4 {
	/* setup some more readable header spacing */
	padding-bottom: 5px;
	margin: 10px 0;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
}

h1 { 
	font-size: 200%;
	line-height: 100%;
}

h2 {
	font-size: 175%;
	line-height: 100%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 120%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* @end */

/* @group Joomla Elements */

.small,
.modifydate,
.createdate,
div.mosimage_caption {
	font-size: 95%;
}

.componentheading {
	font-size: 170%;
	line-height: 100%;
	padding: 0;
	margin: 25px 0 20px 0;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
}

.contentheading {
	font-size: 220%;
	font-weight: normal;
	line-height: 110%;
	padding-bottom: 8px;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	margin: 15px 0 0 0;
}

td.buttonheading,
.contentpaneopen td.buttonheading {
	padding: 0px 3px 0;
}

td.column_separator {
	padding-left: 15px;
}

td.componentheading {
	padding-bottom: 15px;
}

.sectiontableheader {
  	font-weight: bold;
  	padding: 4px;
  	line-height: 20px;
}

tr.sectiontableentry1 td,
tr.sectiontableentry2 td,
td.sectiontableentry1,
td.sectiontableentry2 {
  	text-align: left;
  	padding: 5px 0 5px 5px;
}

#maincol tr.sectiontableentry1 td,
#maincol tr.sectiontableentry2 td,
#maincol td.sectiontableentry1,
#maincol td.sectiontableentry2 {
  	border-bottom: 1px solid #f7f7f7;
}

td.sidecol tr.sectiontableentry1 td,
td.sidecol tr.sectiontableentry2 td,
td.sidecol td.sectiontableentry1,
td.sidecol td.sectiontableentry2 {
  	background: url(../images/content-div.png) 0 0 no-repeat;	
}

tr.sectiontableentry1-hilite1 td, tr.sectiontableentry2-hilite1 td, td.sectiontableentry1-hilite1, td.sectiontableentry2-hilite1, tr.sectiontableentry1-hilite2 td, tr.sectiontableentry2-hilite2 td, td.sectiontableentry1-hilite2, td.sectiontableentry2-hilite2, tr.sectiontableentry1-hilite3 td, tr.sectiontableentry2-hilite3 td, td.sectiontableentry1-hilite3, td.sectiontableentry2-hilite3, tr.sectiontableentry1-hilite4 td, tr.sectiontableentry2-hilite4 td, td.sectiontableentry1-hilite4, td.sectiontableentry2-hilite4, tr.sectiontableentry1-ad td, tr.sectiontableentry2-ad td, td.sectiontableentry1-ad, td.sectiontableentry2-ad {
	text-align: left;
  	padding: 5px 0 5px 5px;
  	background: url(../images/content-div.png) 0 0 no-repeat;
}

.contentpane,
.contentpaneopen {
	width: 100%;
}

/* @end */

/* @group Structure */

.wrapper {
	position: relative;
}

#header {
	height: 100px;
	overflow: hidden;
}

#header-bar {
	height: 45px;
}

#newsflash-module {
	overflow: hidden;
	height: 18px;
	line-height: 16px;
	width: 55%;
	display: block;
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}

#logo {
	width: 417px;
	height: 87px;
	position: absolute;
	display: block;
}

#mainpage {
	margin: 0;
	padding: 0;
}

#mainpage-bottom .left{
	height: 41px;	
}

td.maincol {
	padding: 0 10px 0 8px;
}

td.maincol .padding {
	padding-left: 8px;
}

td.sidecol {
	background: #D6D6D6 url(../images/sidecol-l.png) 0 0 repeat-y;
}

td.sidecol .sameheight {
	background: url(../images/sidecol-r.png) 100% 0 repeat-y;
}

#maincol {
	padding: 0;
	margin: 20px 0 20px 0;
}

#sidecol-top2 {
	height: 41px;
}

#sidecol-bottom2 {
	height: 41px;
}

#main-content {
	margin: 0 15px;
	height: 100%;
}

#main-content3  {
	padding: 0 10px 0 5px;
}

#headlinemodules,
#morenews-modules,
#newsblock2,
#newsblock3,
#bottommods,
#tabmodules {
	overflow: hidden;
}

#bottom-modules-top {
	height: 53px;
	margin-top: 25px;
}

#bottom-modules-top .top-left {
	height: 53px;
}

#bottom-modules-top .middle {
	height: 53px;
}

#bottom-modules {
	padding-left: 35px;
}

#bottom-modules .right {
	padding-right: 20px;
}

#bottom-modules-bottom {
	height: 23px;
}

#bottom-modules-bottom .bottom-left {
	height: 23px;
}

#bottom-modules-bottom .middle {
	height: 23px;
}

#bottom-modules div.moduletable ul,
#bottom-modules div.moduletable p {
	margin: 0;
	padding: 0;
}

table.mainbody {
	width: 100%;
	margin: 0;
	padding: 0;
}

img#rocket {
	margin-top: 10px;
	width: 144px;
	height: 22px;
}

.spacer .block {
	float: left;
}

.spacer.w99 .block {
	width: 100%;
}

.spacer.w49 .block {
	width: 50%;
}

.spacer.w33 .block {
	width: 33.3%;
}

#pathway {
	height: 30px;
	padding: 0 32px;
	overflow: hidden;
}

/* @end */

/* @group Modules */

td.sidecol div.module {
	padding: 0 25px 10px 25px;
	margin-bottom: 10px;
	overflow: hidden;
}

td.sidecol div.module-hilite1a div div div,
td.sidecol div.module-hilite1b div div div,
td.sidecol div.module-hilite2a div div div,
td.sidecol div.module-hilite2b div div div,
td.sidecol div.module-hilite3a div div div,
td.sidecol div.module-hilite3b div div div,
td.sidecol div.module-hilite4a div div div,
td.sidecol div.module-hilite4b div div div,
td.sidecol div.module-hilite5a div div div,
td.sidecol div.module-hilite5b div div div {
	overflow: hidden;
	padding: 25px;
	margin-bottom: 10px;
}

td.sidecol div.module-hilite1a h3,
td.sidecol div.module-hilite1b h3,
td.sidecol div.module-hilite2a h3,
td.sidecol div.module-hilite2b h3,
td.sidecol div.module-hilite3a h3,
td.sidecol div.module-hilite3b h3,
td.sidecol div.module-hilite4a h3,
td.sidecol div.module-hilite4b h3,
td.sidecol div.module-hilite5a h3,
td.sidecol div.module-hilite5b h3,
td.sidecol div.module h3 {
	margin: 0;
	padding: 0 0 15px 0;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	font-size: 130%;
}

td.sidecol div.module-hilite1 h3,
td.sidecol div.module-hilite2 h3,
td.sidecol div.module-hilite3 h3,
td.sidecol div.module-hilite4 h3,
td.sidecol div.module-hilite5 h3 {
	margin: 0;
	padding: 0 0 15px 0;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	font-size: 130%;
}

td.sidecol div.module-ad h3 {
	position: absolute;
	margin: -26px 0 0 0;
	padding: 0 0 0 25px;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	font-size: 130%;
}

td.sidecol div.module-hilite1 div,
td.sidecol div.module-hilite2 div,
td.sidecol div.module-hilite3 div,
td.sidecol div.module-hilite4 div,
td.sidecol div.module-hilite5 div {
	overflow: hidden;
	padding: 18px 25px 25px 25px;
}

td.sidecol div.module-ad div {
	overflow: hidden;
	padding-top: 45px;
	margin-bottom: 10px;
}

td.sidecol div.module-hilite1 div div,
td.sidecol div.module-hilite1 div div div,
td.sidecol div.module-hilite1 div div div div,
td.sidecol div.module-hilite2 div div,
td.sidecol div.module-hilite2 div div div,
td.sidecol div.module-hilite2 div div div div,
td.sidecol div.module-hilite3 div div,
td.sidecol div.module-hilite3 div div div,
td.sidecol div.module-hilite3 div div div div,
td.sidecol div.module-hilite4 div div,
td.sidecol div.module-hilite4 div div div,
td.sidecol div.module-hilite4 div div div div,
td.sidecol div.module-hilite5 div div,
td.sidecol div.module-hilite5 div div div,
td.sidecol div.module-hilite5 div div div div,
td.sidecol div.module-ad div div,
td.sidecol div.module-ad div div div,
td.sidecol div.module-ad div div div div,
td.sidecol div.module-hilite1a div div div div,
td.sidecol div.module-hilite1b div div div div,
td.sidecol div.module-hilite2a div div div div,
td.sidecol div.module-hilite2b div div div div,
td.sidecol div.module-hilite3a div div div div,
td.sidecol div.module-hilite3b div div div div,
td.sidecol div.module-hilite4a div div div div,
td.sidecol div.module-hilite4b div div div div,
td.sidecol div.module-hilite5a div div div div,
td.sidecol div.module-hilite5b div div div div,
td.sidecol div.module-hilite1 div div div div,
#maincol div.module-color-red div div div div,
#maincol div.module-color-blue div div div div,
#maincol div.module-color-green div div div div,
#maincol div.module-color-darkgray div div div div,
#maincol div.module-latestnews div div div div,
#maincol div.module-weather div div div div,
#maincol div.module-faq div div div div,
#maincol div.module-download div div div div {
	background: none;
	margin: 0;
	padding: 0;
}

#headlinemodules div.moduletable h3,
#headlinemodules div.moduletable-headline-red h3,
#headlinemodules div.moduletable-headline-blue h3,
#headlinemodules div.moduletable-headline-green h3,
#headlinemodules div.moduletable-headline-orange h3 {
	font-size: 100%;
	text-transform: uppercase;
	font-weight: bold;
	color: #444;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

#headlinemodules span.headline,
#headlinemodules span.headline-red,
#headlinemodules span.headline-blue,
#headlinemodules span.headline-green,
#headlinemodules span.headline-orange {
	font-weight: bold;
	font-size: 140%;
	margin-bottom: 10px;
	display: block;
	font-family: Arial Narrow, Arial, sans-serif;
}

#headlinemodules div.moduletable,
#headlinemodules div.moduletable-headline-red,
#headlinemodules div.moduletable-headline-blue,
#headlinemodules div.moduletable-headline-green,
#headlinemodules div.moduletable-headline-orange {
	padding-right: 15px;
	margin-top: 10px;
}

#newsblock2 div.module,
#newsblock3 div.module {
	margin-right: 10px;
	margin-top: 25px;
}

#newsblock2 div.module h3,
#newsblock3 div.module h3 {
	margin: 0 0 10px 0;
	padding: 0;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	font-size: 130%;
}

#newsblock2 div.module div div div,
#newsblock3 div.module div div div {
	padding: 10px 10px 10px 18px;
}

#maincol div.module-color-red,
#maincol div.module-color-blue,
#maincol div.module-color-green,
#maincol div.module-color-darkgray {
	margin-right: 10px;
	margin-top: 25px;
}

#maincol div.module-color-red h3,
#maincol div.module-color-blue h3,
#maincol div.module-color-green h3,
#maincol div.module-color-darkgray h3 {
	margin: 0 0 10px 0;
	padding: 0;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	font-size: 130%;
}

#maincol div.module-color-red div div div,
#maincol div.module-color-blue div div div,
#maincol div.module-color-green div div div,
#maincol div.module-color-darkgray div div div {
	padding: 10px 10px 10px 18px;
}

#maincol div.module-latestnews {
	margin: 25px 10px 0 0;
}

#maincol div.module-latestnews h3 {
	margin: 0 0 18px 0;
	padding: 8px 0 0 48px;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 140%;
}

#maincol div.module-latestnews div div div {
	padding: 10px 10px 10px 20px;
}

#morenews {
	margin: 0 10px 0 0;
}

#morenews4 {
	padding: 0 10px 10px 20px;
}

span.morenews-header {
	position: absolute;
	display: block;
	background: none;
	padding-top: 10px;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: bold;
}

#morenews div.moduletable {
	margin-right: 10px;
	margin-top: 40px;
	padding: 0 10px 0 0 ;
}

#maincol div.module-weather,
#maincol div.module-faq,
#maincol div.module-download {
	margin: 17px 10px 0 0;
}

#maincol div.module-weather h3,
#maincol div.module-faq h3,
#maincol div.module-download h3 {
	margin: 0 0 10px 0;
	padding: 8px 0 0 28px;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	font-size: 130%;
}

#maincol div.module-weather div div div {
	padding: 10px 10px 10px 20px;
}

#maincol div.module-faq div div div {
	padding: 10px 10px 10px 20px;
}

#maincol div.module-download div div div {
	padding: 10px 10px 10px 20px;
}

#mod-search {
	height: 63px;
	padding: 12px 0 0 50px;
	margin: 0 0 10px 0;
	background: url(../images/search.png) 0 0 no-repeat;
}

#mod-search input {
	padding: 1px 4px;
	overflow: hidden;
	width: 140px;
	font-size: 110%;
	border: 0;
	background: none;
}

#mod-search div.moduletable {
	margin: 0;
	padding: 0;
}

#mod-login {
	float: right;
	padding-top: 3px;
}

#mod-login a:hover {
	text-decoration: underline;
}

#bottommods div.moduletable {
	margin-right: 15px;
}

#bottommods div.moduletable h3 {
	position: absolute;
	margin-top: -34px;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	font-size: 130%;
}

/* @end */

/* @group Horizontal Menu */

#horiz-menu {
	height: 45px;
	margin-right: 30px;
}

#horiz-menu ul.menutop {
	padding-left: 18px;
}

#horiz-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#horiz-menu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#horiz-menu a {
	white-space: nowrap;
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	display: block;
	float: left;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	font-weight: bold;
	font-size: 120%;
}

#horiz-menu li li a, 
#horiz-menu li li a:hover,
#horiz-menu li:hover li a,
#horiz-menu li.sfHover li a,
#horiz-menu li.parent:hover li a,
#horiz-menu li.parent.sfHover li a,
#horiz-menu li.active.parent:hover li a,
#horiz-menu li.active.parent.sfHover li a {
	background: none;
}

#horiz-menu li li.parent:hover,
#horiz-menu li li.parent.sfHover,
#horiz-menu li li.active.parent:hover,
#horiz-menu li li.active.parent.sfHover {
	background: none;
}

/* mouseovers */

#horiz-menu li li a:hover {
	background: none;
}

#horiz-menu li li.active,
#horiz-menu li.active li a,
#horiz-menu li.active li a:hover {
	background: none;
}

#horiz-menu li li a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: normal;
}

#horiz-menu a:hover {
	text-decoration: none;
}

/* @end */

/* @group Sub Menu */

ul.menuside {
	margin: 0;
	padding: 0;
}

ul.menuside li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menuside a:hover {
	text-decoration: none;
}

ul.menuside li.active li a {
	font-weight: normal;
}

ul.menuside span {
	display: block;
}

ul.menuside a {
	display: block;
	line-height: 24px;
	text-indent: 15px;
	height: 24px;
	background: url(../images/splitmenu-bullet.png) 0 6px no-repeat;
}

ul.menuside ul {
	margin: 4px 0;
}

ul.menuside ul li {
	background: url(../images/splitmenu-bullet2.png) 0 6px no-repeat;
}

ul.menuside ul li a {
	text-indent: 15px;
}

ul.menuside ul a {
	background: none;
	text-indent: 0;
}

ul.menuside a:hover {
	text-decoration: none;
}

ul.menuside ul {
	margin-left: 10px;
	padding: 0;
}

ul.menuside ul ul {
	padding: 0;
	margin-left: 20px;
}

ul.menuside li li {
	padding: 0;
	margin: 0;
}

ul.menuside ul a {
	text-indent: 0;
}

ul.menuside li.active li a {
	color: #ccc;
}

/* @end */

/* @group Mainmenu */

a.mainlevel {
	display: block;
	line-height: 24px;
	text-indent: 17px;
	height: 26px;
	font-size: 110%;
	text-decoration: none;
	background: url(../images/sidemenu-bg.png) 0 0 no-repeat;
}

a#active_menu.sublevel {
	background: none;
}

a.sublevel {
	text-decoration: none;
	background: none;
	line-height: 25px;
}

a.mainlevel:hover, a.sublevel:hover {
	text-decoration: none;
}

/* @end */

/* @group Content Styles */

/* @group Login */

.loginelement {
	float:  left;
	padding: 4px 8px 0 0;
	line-height: 21px;
	white-space: nowrap;
}

.loginelement label {
	display: none;
}

.loginelement  .inputbox {
	width:  85px;
	margin-left: 5px;
	vertical-align: middle;
	color: #fff;
}

span.loginsubmit,
span.logoutsubmit {
	display: block;
	float:  left;
	width: 45px;
	height:  21px;
	line-height: 21px;
	text-align: center;
	font-weight: normal;
	margin-top: 4px;
	cursor: pointer;
} 

span.loginsubmit span,
span.logoutsubmit span {
	text-decoration: none;
}

/* @group Readon */

a.readon {
	float: right;
	margin-top: 12px;
	font-weight: bold;
	font-size: 90%;
	display: block;
	text-align: center;
	width: 75px;
	height: 19px;
	line-height: 18px;
	clear: both;
}

div.moduletable-headline1 a.readon,
div.moduletable-headline2 a.readon,
div.moduletable a.readon,
div.module a.readon,
td.sidecol div.module a.readon {
	clear: both;
	float: right;
}

/* @end */

/* @group Pathway */

span.pathway {
	display: block;
	line-height: 1.2em;
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-left: 5px;
}

span.pathway img {
	float: left;
	width: 6px;
	height: 11px;
	padding-right: 8px;
	padding-top: 3px;
	background: url(../images/path-arrow.png) 0 50% no-repeat;
}

span.pathway a {
	float: left;
	padding: 0 10px 0 0;
}

/* @end */

/* @group Typography */

ul.number,
ul.media-1,
ul.media-2,
ul.media-3,
ul.media-4,
ul.plus-1,
ul.plus-2,
ul.lightbulb,
ul.award,
ul.phone,
ul.pdf,
ul.alert,
ul.write,
ul.camera-1,
ul.camera-2,
ul.comment,
ul.rss-1,
ul.rss-2,
ul.check,
ul.star-1,
ul.star-2,
ul.triangle-1,
ul.triangle-2,
ul.triangle-3,
ul.triangle-4,
ul.triangle-5,
ul.triangle-6,
ul.bullet-1,
ul.bullet-2,
ul.bullet-3,
ul.bullet-4,
ul.bullet-5,
ul.bullet-6 {
	padding-left: 10px;
	margin-left: 0;
}

ul.number li,
ul.media-1 li,
ul.media-2 li,
ul.media-3 li,
ul.media-4 li,
ul.plus-1 li,
ul.plus-2 li,
ul.lightbulb li,
ul.award li,
ul.phone li,
ul.pdf li,
ul.alert li,
ul.write li,
ul.camera-1 li,
ul.camera-2 li,
ul.comment li,
ul.rss-1 li,
ul.rss-2 li,
ul.check li,
ul.star-1 li,
ul.star-2 li,
ul.triangle-1 li,
ul.triangle-2 li,
ul.triangle-3 li,
ul.triangle-4 li,
ul.triangle-5 li,
ul.triangle-6 li,
ul.bullet-1 li, 
ul.bullet-2 li,
ul.bullet-3 li,
ul.bullet-4 li,
ul.bullet-5 li,
ul.bullet-6 li {
	list-style: none;
	margin-left: 0;
	padding-bottom: 3px;
	margin-bottom: 5px;
	padding-left: 24px;
}

li.number-1 {
	background: url(../images/number-1.png) 0 0 no-repeat;	
}

li.number-2 {
	background: url(../images/number-2.png) 0 0 no-repeat;	
}

li.number-3 {
	background: url(../images/number-3.png) 0 0 no-repeat;	
}

li.number-4 {
	background: url(../images/number-4.png) 0 0 no-repeat;	
}

li.number-5 {
	background: url(../images/number-5.png) 0 0 no-repeat;	
}

li.number-6 {
	background: url(../images/number-6.png) 0 0 no-repeat;	
}

li.number-7 {
	background: url(../images/number-7.png) 0 0 no-repeat;	
}

li.number-8 {
	background: url(../images/number-8.png) 0 0 no-repeat;	
}

li.number-9 {
	background: url(../images/number-9.png) 0 0 no-repeat;	
}

ul.media-1 li {
	background: url(../images/media-1.png) 0 2px no-repeat;
}

ul.media-2 li {
	background: url(../images/media-2.png) 0 2px no-repeat;
}

ul.media-3 li {
	background: url(../images/media-3.png) 0 2px no-repeat;
}

ul.media-4 li {
	background: url(../images/media-4.png) 0 2px no-repeat;
}

ul.plus-1 li {
	background: url(../images/plus-1.png) 4px 2px no-repeat;
}

ul.plus-2 li {
	background: url(../images/plus-2.png) 4px 2px no-repeat;
}

ul.camera-1 li {
	background: url(../images/camera-1.png) 2px 2px no-repeat;
}

ul.camera-2 li {
	background: url(../images/camera-2.png) 2px 2px no-repeat;
}

ul.comment li {
	background: url(../images/comment.png) 2px 2px no-repeat;
}

ul.lightbulb li {
	background: url(../images/lightbulb.png) 2px 2px no-repeat;
}

ul.award li {
	background: url(../images/award.png) 2px 2px no-repeat;
}

ul.phone li {
	background: url(../images/phone.png) 2px 2px no-repeat;
}

ul.pdf li {
	background: url(../images/pdf.png) 2px 2px no-repeat;
}

ul.alert li {
	background: url(../images/alert.png) 2px 2px no-repeat;
}

ul.write li {
	background: url(../images/write.png) 2px 2px no-repeat;
}

ul.rss-1 li {
	background: url(../images/rss-1.png) 5px 2px no-repeat;
}

ul.rss-2 li {
	background: url(../images/rss-2.png) 2px 2px no-repeat;
}

ul.star-1 li {
	background: url(../images/star-1.png) 0 2px no-repeat;
}

ul.star-2 li {
	background: url(../images/star-2.png) 0 2px no-repeat;
}

ul.check li {
	background: url(../images/check.png) 2px 2px no-repeat;
}

ul.triangle-1 li {
	background: url(../images/triangle-1.png) 6px 4px no-repeat;
}

ul.triangle-2 li {
	background: url(../images/triangle-2.png) 6px 4px no-repeat;
}

ul.triangle-3 li {
	background: url(../images/triangle-3.png) 6px 4px no-repeat;
}

ul.triangle-4 li {
	background: url(../images/triangle-4.png) 6px 4px no-repeat;
}

ul.triangle-5 li {
	background: url(../images/triangle-5.png) 6px 4px no-repeat;
}

ul.triangle-6 li {
	background: url(../images/triangle-6.png) 6px 4px no-repeat;
}

ul.bullet-1 li {
	background: url(../images/bullet-1.png) 4px 4px no-repeat;
}

ul.bullet-2 li {
	background: url(../images/bullet-2.png) 4px 4px no-repeat;
}

ul.bullet-3 li {
	background: url(../images/bullet-3.png) 4px 4px no-repeat;
}

ul.bullet-4 li {
	background: url(../images/bullet-4.png) 4px 4px no-repeat;
}

ul.bullet-5 li {
	background: url(../images/bullet-5.png) 4px 4px no-repeat;
}

ul.bullet-6 li {
	background: url(../images/bullet-6.png) 4px 4px no-repeat;
}

pre {
	background: #f7f7f7;
	border: 1px solid #f0f0f0;
	padding: 10px;
}

blockquote {
	color: #666;
	font-style: italic;
	font-size: 120%;
	line-height: 150%;
	width: auto;
	padding: 0px 0px 5px 60px;
	margin: 15px 0;
	background: url(../images/quote-start.png) 0 0 no-repeat;
}

blockquote p {
	padding: 0 60px 10px 0;
	margin-top: 0;
	background: url(../images/quote-end.png) 100% 100% no-repeat;
}

blockquote.b {
	color: #666;
	font-style: italic;
	font-size: 110%;
	line-height: 135%;
	width: auto;
	padding: 0px 0px 5px 20px;
	margin: 15px 0 15px 15px;
	background: url(../images/quote2-start.png) 0 2px no-repeat;
}

/* @end */

/* @group Notice Styles */

span.alert,
span.info,
span.download,
span.note {
	display: block;
	padding: 10px 10px 10px 45px;
	margin: 15px 0;	
}

span.alert {
	color: #c00;
	border-top: 3px solid #fe7b7a;
	border-bottom: 3px solid #fe7b7a;
	background: #FFD6D6 url(../images/status-alert.png) 10px 50% no-repeat;
}

span.info {
	color: #0055BB;
	border-top: 3px solid #629de3;
	border-bottom: 3px solid #629de3;
	background: #D8E5F8 url(../images/status-info.png) 10px 50% no-repeat;
}

span.note {
	color: #B79000;
	border-top: 3px solid #fde179;
	border-bottom: 3px solid #fde179;
	background: #FEF6D8 url(../images/status-note.png) 10px 50% no-repeat;
}

span.download {
	color: #57861A;
	border-top: 3px solid #c2df88;
	border-bottom: 3px solid #c2df88;
	background: #EEF7DD url(../images/status-download.png) 10px 50% no-repeat;
}

/* @end */

/* @group RokSlide */

#rokslide-toolbar {
	color: #666;
}

#rokslide-toolbar span {
	white-space: nowrap;
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 120%;
	line-height: 26px;
}

#rokslide-toolbar li.active { 
	color: #222;
}

#frame {
	text-align: left;
	margin-left: 15px;
}

#frame div.module {
	float: left;
}

#frame .module div {
	padding: 0 5px;
}

#frame .module div div {
	padding: 0;
}

#frame .mmpr-1 .module {
	width: 100%;
}

#frame .mmpr-2 .module {
	width: 50%;
}

#frame .mmpr-3 .module {
	width: 33%;
}

#frame .mmpr-4 .module {
	width: 25%;
}

#frame .mmpr-5 .module {
	width: 20%;
}

#rokslide-toolbar li.current { 
	color: #333;
}

#tabmodules {
	margin-top: 20px;
}

#tabmodules div div div {
	padding-top: 10px;
	padding-bottom: 20px;
}

#tabmodules div div div div {
	background: none;
	padding: 0;
}

/* @end */

#accessibility {
	width: 95px;
	float: right;
	height: 20px;
	margin-top: 13px;
	margin-right: 5px;
}

#accessibility span {
	background-repeat: no-repeat;
}

#accessibility a {
	text-decoration: none;
	cursor: pointer;
}

#accessibility #buttons {
	float: right;
	padding-right: 10px;
}

#accessibility .button {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#banner {
	position: absolute;
	top: 19px;
	right: 10px;
}

a.nounder {
	text-decoration: none;
	border: 0;
	cursor: pointer;
}

a.nounder:hover {
	text-decoration: none;
}

a img.album {
	border-width: 2px;
	border-style: solid;
}

.clr {
	clear:both;
}

fieldset {
	border-top: 4px solid #eee;
	border-bottom: 4px solid #eee;
	border-left: 0;
	border-right: 0;
}

fieldset.input {
	border: 0;
}

a img {
	border: 0;
}

img.headline {
	padding: 2px;
	border: 1px solid #E6E6E6;
}

img.content-left {
	float: left;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #eee;
}

img.content-right {
	float: right;
	margin-left: 10px;
	padding: 5px;
	border: 1px solid #eee;
}

#test-content {
	padding: 0 40px 0 40px;
}

#moduleslider-size {
	height: 250px;
}

#referencewidth {
	width: 100%;
	overflow:hidden;
}

#news-rotator .padding {
	background-color: #EFF2F3;
}

/* video scroller */

.video-list,
.media-list {
	height: 253px;
	overflow: hidden;
	margin: -25px -5px 0 -5px;
}

.video-controls .control-prev, 	.video-controls .control-next,
.media-controls .control-prev, 	.media-controls .control-next {
	background-image: url(../images/video-scroller-controls.png);
}

.video-controls .control-page,
.media-controls .control-page {
	background-image: url(../images/video-scroller-status.png);
}

.video, td.sidecol .video,
.media, td.sidecol .media { 
	background: #E5E5E5;
	height: 72px;
	border-bottom: 1px solid #D6D6D6;
}

.video .left img,
.media .left img {
	float: left;
	width: 88px;
	height: 49px;
	padding-top: 10px;
}

td.sidecol .video .left,
td.sidecol .media .left {
	float: left;
	clear: none;
	padding-left: 5px;
	padding-right: 5px;
}

.contentpane .pollstableborder {
	border: 0px;
}

.back_button {
	margin-top: 30px;
}

.tool-tip {
	background: #f6f6f6;
	border: 1px solid #e6e6e6;
	padding: 4px;
}

/* @end */

/* @end */